{% extends "blog/index.html" %} {% block content %}

<ul class="list-group">
  <li class="list-group-item mb-5">
    <div class="container mb-5 about-text">
      <h1 class="mb-3">About FootHub-FC</h1>
      <p class="text-secondary">
        FootHub-FC is a free site of recent football highlight around the world.
        FootHub is a project by <a href="https://www.ramfattah.com" target="_blank">Ram Fattah</a>, a
        software engineer based in Seattle, WA.
      </p>
    </div>
  </li>
</ul>


  
{% endblock content %}
