{% extends "blog/index.html" %} {% block content %} {% load static %}


<div class="container mt-5">
  <ul class="list-group border-0 ">
    <li class="list-group-item border-0 mb-5">
      <div class="container mb-5  about-text ">
        <div class="mb-3 text-center">
          <!-- <img
            src="{% static 'favicon.png' %}"
            class="mx-auto d-block mt-5"
            style="height: 100px; width: 100px;"
            alt=""
          /> -->
          <div class="container">
            <img
              src="{% static 'field.png' %}"
              class="floating ramLogo mb-5"
              alt=""
            />
          </div>
        </div>

        <p class="text-dark about-text mt-5" style="font-size: 2vh;">
          SoccerZone is a Free Site Of Real Time Soccer Game Statistics and Recent Football Highlights Around the
          World. SoccerZone is a Project by
          <a href="https://www.ramfattah.com" target="_blank">Ram Fattah</a>. A
          Software Engineer Based in Seattle, WA.
        </p>
      </div>
    </li>
  </ul>
</div>









{% endblock content %}
