{% extends "blog/index.html" %} {% block content %} {% load static %}
<div class="container mt-5">
  <h1 class="display-4 ml-4 mt-5 text-dark text-center text-uppercase">team
  drills </h1>

  <ul class="list-group about-text mt-4">
    <li class="about-text list-group-item ">
      <a class="text-dark" href="https://www.youtube.com/watch?v=MDp08hyUZvk" target="_blank">Bayern München Training Drill</a> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Agility</span>
      </div>

      
    </li>
    <li class="about-text list-group-item d-flex justify-content-between align-items-center">
      <a class="text-dark" href="https://www.youtube.com/watch?v=sN6IEcxvyfs"
      target="_blank">Real Madrid Crossing </a class="text-dark"> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Crossing</span>
      </div>

    </li>
    <li class=" about-text list-group-item d-flex justify-content-between align-items-center">
      <a class="text-dark" href="https://www.youtube.com/watch?v=8BJughgOYvc"  target="_blank">Passing Combination</a> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Passing</span>
        <span class="about-text badge badge-success badge-pill">+ Awareness</span>
      </div>

    </li>


    <li class=" about-text list-group-item d-flex justify-content-between align-items-center">
      <a class="text-dark" href="https://www.youtube.com/watch?v=svcWK6SpmgY"  target="_blank">Finishing on goal</a> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Shooting</span>
      </div>

    </li>
  </ul>
</div>

<!-- ------------------------------------------------ -->

<div class="container mt-5">
  <h1 class="display-4 ml-4 mt-5 text-dark text-center text-uppercase">solo
  drills </h1>

  <ul class="list-group about-text mt-4">
    <li class="about-text list-group-item ">
      <a class="text-dark" href="https://www.youtube.com/watch?v=xx5JxzcZ-yo" target="_blank">6 Essential Footwork Drills</a> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Agility</span>
        <span class="about-text badge badge-success badge-pill">+ Foot work</span>
      </div>

      
    </li>
    <li class="about-text list-group-item d-flex justify-content-between align-items-center">
      <a class="text-dark" href="https://www.youtube.com/watch?v=sN6IEcxvyfs"
      target="_blank">Lionel Messi Individual Training </a class="text-dark"> 
      <div class="float-right">
     
      </div>

    </li>
    <li class=" about-text list-group-item d-flex justify-content-between align-items-center">
      <a class="text-dark" href="https://www.youtube.com/watch?v=3ew2m3m5f0M"  target="_blank">5 Essential Speed and Agility Drills</a> 
      <div class="float-right">
        <span class="about-text badge badge-success badge-pill">+ Speed</span>
        <span class="about-text badge badge-success badge-pill">+ Agility</span>
        <span class="about-text badge badge-success badge-pill">+ Endurance</span>
      </div>

    </li>


  
  </ul>
</div>


{% endblock content %}