{% extends "blog/index.html" %} 
{% block content %} 
{% for b in bat|slice:'20'%}

    <div class="shadow card ml-4 mb-4 card-match" style="width: 18rem;">
      <a href="{{ b.url }}" class="card-link">
        <div class="card-body">
          <h4 class="card-title text-dark">{{ b.title }}</h4>
          <p class="card-text text-secondary">{{ b.competition.name }}</p>
          <div class="">
            <i class="fas fa-eye text-dark fa-2x ml-2"></i>
            
          </div>
          <small class='text-secondary'>
            {{date|date:'F d,  Y'}} 
          </small>
        </div>
      </a>
    </div>
{% endfor %} 
{% endblock content %}
