{% extends "blog/index.html" %} 
{% block content %} 



      {% for b in bat|slice:'20' %}
          <div class=" rekick card-match mr-4 mb-4">
            <a href="{{ b.url }}" target="_blank" class="card-link">
              <div class="card shadow h-100  bg-gray-300">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm text-secondary text-uppercase mb-1">{{ b.competition.name }}</div>
                      <div class="h3 mb-0 text-dark mb-5">{{b.title}}</div>
                    </div>

                    <div class="col-auto">
                      <i class="fas fa-eye fa-2x text-gray-300 ml-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            </div>
{% endfor %}    


{% endblock content %}
