{% extends "blog/index.html" %}    

{% block home %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h1 class="m-0 font-weight-bold text-secondary">Welcome!</h1>
            </div>
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 60rem;" src="/media/player-kick.jpg" alt="">
              </div>
              <h2 class="text-center">Football Starts <span class="text-warning">NOW</span></h2>
              <a href="{% url 'first-home' %}" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="far fa-futbol"></i>
                </span>
                <span class="text">View Latest Highlights</span>
              </a>
            </div>
          </div>  
       
{% endblock home %}