{% extends "blog/index.html" %} 
{% block home %} 

    <section>
        <div class="bannerText">
            <h2>Foot Hub</h2><br>
            <h3 class="text-secondary"> Explore the lates in world of football</h3>
            {% if user.is_authenticated %}
                <a href="{% url 'index-home' %}" type="button" class="btn btn-light">Highlights</a>
            {% else %}
                <a href="{% url 'register' %}" type="button" class="btn btn-light">Register</a>
            {% endif %}
        </div>
        
        <!-- <div class="element1"></div> -->
        <div class="element2">            
            <img src="/media/float.png" style="width: 100px; height: 100px;" alt="">
        </div>
    </section>
{% endblock home %}



