{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="FootHub"
      content="Free Football Soccer highlights all around the world"
    />
    <meta name="Ram" content="" />

    <title>Welcome to FootHub</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/main.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/282e6ec7ef.js"
      crossorigin="anonymous"
    ></script>

    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150680894-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150680894-1");
    </script>
  </head>

  <body id="page-top">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p class="text-center">
            Today's Soccer Highlights Around the World! 🔥
          </p>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <main>
      <div class="container">
        <div class="mt-5 mb-5">
          <a href="{% url 'index-home' %}">
            <h1 class="head-text text-dark brand-text text-center">FootHub</h1>
          </a>
       
        </div>
        <!-- <h6 class="mt-5">{% now "jS \o\f F" %}</h6> -->
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'index-home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'blog-about' %}"
              >About</a
            >
          </li>

          <li class="nav-item">
            <p class="nav-link text-dark font-weight-light" href="#">
              {% now "jS F Y" %}
            </p>
          </li>
        </ul>
      </div>
      <br />
      <br />
   
      <br />
      <br />

      <!-- Begin Page Content -->

      <div class="row ml-5">
        {% block content %}{% endblock %}
      </div>
    </main>
   

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
