{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="FootHub"
      content="Free Football Soccer highlights all around the world"
    />
    <meta name="Ram" content="" />

    <title>Welcome to FootHub</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/main.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/282e6ec7ef.js"
      crossorigin="anonymous"
    ></script>

    <!-- scroll bar -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150680894-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150680894-1");
    </script>

    
  </head>

  <body id="page-top">
    <main>
      
      <nav
        class="shadow navbar navbar-light navbar-expand-md bg-faded justify-content-center"
      >
        <a href="{% url 'home-page' %}" class="navbar-brand d-flex w-50 mr-auto"
          >FootHub</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsingNavbar3"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
          <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'index-home' %}">Explore <small><span
                    class="text-sm badge badge-pill badge-warning text-white about-text">BETA</span></small></a>
                </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'index-home' %}"> Today </a>
            </li> -->
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog-about' %}">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <!-- <p class="nav-link text-dark">{{user}}</p> -->
              <div class="dropdown mr-5">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user}}
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                  <!-- <a class="dropdown-item" href="{% url 'profile' %}">Profile</a> -->
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  <!-- <a class="dropdown-item" href="{% url 'settings' %}">settings</a> -->
                </div>
              </div>
            </li>
           
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!-- Begin Page Content -->
      <br />
      <br />
      <br />
      <br />

      <div class="">
        {% block home %}{% endblock %}
      </div>

      <div class="">
        {% block extop %} {% endblock %}
      </div>

      <div>
        <div class="" id="">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- scroll bar -->
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
