{% extends "blog/index.html" %}  {load static}  {% load crispy_forms_tags %}
{% block content %}


<style>

.posts{
  margin-top: 8%;
}

  .match-cards{
    margin-left: 1%;
    margin-right: 1%;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

.content_img {
  margin: 1em 0;
}
.content_img .img-text {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background: rgba(0, 0, 0, 0.65);
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.content_img:hover .img-text {
  padding: 8px 15px;
  visibility: visible;
  opacity: 1;
  max-width: 80%;
}



.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


</style>







<main role="main " class="posts">

  <div class="color-2 mt-5">

    <h1 class=" text-dark text-uppercase text-center mb-3" style="font-size: 10vh;">today's Matches 
    </h1>
     <p class="text-center about-text">{% now "jS F Y" %}</p>
    <div class="match-cards d-flex overflow-auto scrolling" id="style-1">
      {% for b in sb|slice:'20'%}
      <div class="row mt-5">
        <div class="content_img mr-4">
          <div class="card mb-3 card-match2 shadow rounded mr-3" style="width: 28rem;">
            {{b.videos.0.embed|safe}}
          </div>
          <small><p class="text-muted about-text text-center">{{b.title}}</p></small>
        </div>
      </div>
  
      {% endfor %}
    </div>
  
  </div>
 

  {% if user.is_authenticated %}
  <div class="container mt-5">
    <div class="container justify-content-center">
      
      <div class="mx-auto d-flex">
     
        <div class="mx-auto d-flex justify-content-center">
     
          <a
=          class="btn-hover color-9 text-white mb-4 d-flex
          justify-content-center"
          style="color: inherit;  text-decoration-color: rgba(225, 136, 40, 0);"
            href="{% url 'post-create' %}"
            ><h3 class="mt-2">ADD POST</h3></a>
          
        </div>
      </div>
     
    </div>
   
  </div>
  {% else %}

    <div class="container mt-4">
      <p class="text-center mt-3 about-text mt-5">Please 
        <a href="{% url 'login' %}">Login</a>   
        or <a href="{% url 'register' %}">Register</a>    to add a Post.</p>
      <div class="button-group text-center ">
        <button class="btn-sm mt-1 mb-1 btn-hover color-9 text-white mx-auto"><a class="text-white" href="{% url 'login'%}">Login</a></button>
        <button class="btn-sm mt-1 mb-1 btn-hover color-7 text-white mx-auto"><a class="text-white" href="{% url 'register' %}">Register</a></button>
    </div>
    </div>
  {% endif %}



  <div class="">
<br>
<br>

<br>
    <div class="container">
      {% for post in posts %}
      <article class="media content-section border-rounded shadow card-match2">
        <div class="media-body container">
          
          <h2><a class="article-title" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></h2>
          <p class=""><a href="{% url 'post-detail' post.id %}"
          class="about-text article-title">{{ post.content }}</a> </p>
          
        </div>
        <div class="">
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
      </article>
  {% endfor %}
     
    </div>
  </div>


  <div class="container d-flex justify-content-center mb-4">
    <div class="pagination mt-4 about-text text-right">
      <span class="step-links about-text">
          {% if posts.has_previous %}
              <a href="?page=1" class="btn btn-outline-dark mb-4">&laquo; first</a>
              <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-dark mb-4">previous</a>
          {% endif %}

          {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>

            {% endif %}
      {% endfor %}

          {% if posts.has_next %}
              <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-dark mb-4">next</a>
              <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-dark mb-4">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div>

</main>

{% endblock content %}