{% extends "blog/index.html" %} {% block content %} {% load static %}

<ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
 
</div>

<div class="row" id="style-1">
  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            Champions Leauge
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            La Liga
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            English Premier League
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            Serie A
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            Bundesliga
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="card ml-5 mb-5 card-match shadow border-0 bg-info"
      style="width: 15rem;"
    >
      <a href="" target="_blank" class="card-link">
        <ul class="list-group card-body ml-3">
          <li
            class="h3 list d-flex justify-content-between align-items-center text-white"
          >
            France Ligue 1
          </li>
          <li
            class="h6 list d-flex justify-content-between text-white align-items-center"
          ></li>
          <li
            class="list d-flex justify-content-between text-white align-items-center"
          ></li>
        </ul>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
