{% extends "blog/index.html" %}    
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    body { 
  background: url('https://wallpaperplay.com/walls/full/e/3/9/130183.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>


<div class="login-bg">
    <div class="container card shadow content-section mt-5 mb-5">
        <form class="container about-text" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group about-text">
                <h1 class="text-dark text-center mt-5 mb-5">Login</h1>
                <div class="ml-5 about-text">{{ form|crispy }}</div>
            </fieldset>
            <div class="form-group">
                <button class="btn ml-5 btn-outline-info about-text" type="submit">Login</button>
                
            </div>
        </form>
        <div class="border-top pt-3 text-center mb-4 ">
            <small class="text-muted about-text">
                Dont have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
</div>
<!-- <div class="floating">
    <img
        src="{% static 'float.png' %}"
        style="width: 100px; height: 100px;"
        class=""
        alt=""
        />
    </div> -->

{% endblock content %}
