{% extends "blog/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card bg-light mb-3 shadow card-match border-0 mr-5 mb-5">
        <h3 class="card-header text-dark text-center">PROFILE</h3>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                  <fieldset class="text-secondary"><small class="text-dark">User: </small>{{ user.username }}</fieldset>
                  <fieldset class="text-secondary"><small class="text-dark">Email: </small>{{ user.email }}</fieldset>
                </div>
              </div> 
        </div>
      </div>

    
<div class="container">
    <div class="card bg-light mb-3 shadow card-match border-0 mr-5">
        <h3 class="card-header text-dark text-center">EDIT</h3>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          <legend class="border-bottom mb-4">Profile Info</legend>
                          {{ u_form|crispy }}
                       
                          <h6>Change Username</h6>
                          {{ p_form|crispy }}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-outline-info" type="submit">Update</button>
                      </div>
                  </form></div>
              </div> 
        </div>
      </div>
</div>
      
{% endblock content %}

